<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090468325769-952mdcejpv9niscvv32ftetlt3cfmhrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090468325769-952mdcejpv9niscvv32ftetlt3cfmhrk</string>
	<key>API_KEY</key>
	<string>AIzaSyC_p_gofeEZbZjb5NYkkyi19SKfC2NE0N4</string>
	<key>GCM_SENDER_ID</key>
	<string>1090468325769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unitech.FirebaseSample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-3ac48</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-3ac48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090468325769:ios:7396b0e91ae446dbda1958</string>
</dict>
</plist>